<tr class="media-component">
  <div>
    <h2>Data and Mean for Size</h2>
    <table>
      <thead>
        <tr>
          <th>Data</th>
          <th>Mean</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let value of data1">
          <td>{{ value }}</td>
        </tr>
      </tbody>
    </table>
    <p>Mean: {{ mean1 }}</p>
  </div>
  
  <div>
    <h2>Data and Mean for Hours</h2>
    <table>
      <thead>
        <tr>
          <th>Data</th>
          <th>Mean</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let value of data2">
          <td>{{ value }}</td>
        </tr>
      </tbody>
    </table>
    <p>Mean: {{ mean2 }}</p>
  </div>
</tr>
