<p>stdev works!</p>
<tr class="stdev">
    <div>
      <h2>Data and Stdev for Size</h2>
      <table>
        <thead>
          <tr>
            <th>Data</th>
            <th>Stddev</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let value of sizes">
            <td>{{ value }}</td>
          </tr>
        </tbody>
      </table>
      <p>Stddev: {{ mean1 }}</p>
    </div>
    
    <div>
      <h2>Data and Stdev for Hours</h2>
      <table>
        <thead>
          <tr>
            <th>Data</th>
            <th>Mean</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let value of hours">
            <td>{{ value }}</td>
          </tr>
        </tbody>
      </table>
      <p>stdev: {{ mean2 }}</p>
    </div>
  </tr>